/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Freckle+Face&family=Itim&family=Kalam:wght@300;400;700&display=swap');

/*utility classes*/

.animate-regular{
    animation-name: slideFadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.animate-delay{
    animation-name: slideFadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    
}

.animate-pop{
    animation-name: popIn;
    animation-duration: 0.3s;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

.animate-pop-nodelay{
    animation-name: popIn;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
}

.animate-infinite{
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}


/*animations*/
@keyframes slideFadeIn{
    from{
        transform: translateY(40px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes spin{
    from{
        transform: rotate(360);
    }
    
    to{
        transform: rotate(0);
    }
}

@keyframes popIn{
    from{
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


/*styles*/

:root{
    --BG: #171614;
    --SBG: darkturquoise;
    --MainColor: #F4A6BD;
    --teritaryColor: dodgerblue ;
    --IMAGEcirclesNsquares: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23000000' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
    --IMAGEbubbles: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
    --IMAGEwiggles: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --IMAGEoverlapCircles: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.15'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Freckle Face" "DynaPuff" "Kalam", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: var(--SBG) var(--BG);
}


body{
    min-height: 100vh;
    font-family: "Kalam" , system-ui;
    background-color: var(--BG);
    background-image: var(--IMAGEcirclesNsquares)
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5em 15%;
    display: flex;
    font-family: "Freckle Face", system-ui;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

ul{
    display: flex;
    align-items: center;
    gap: 3em;
    font-size: 1.5em;
}

nav ul a{
    color: mintcream;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    position: relative;
}

nav ul a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    top: 30px;
    height: 6px;
    border-radius: 1em;
    transition: 0.2s ease-in-out;
    background: linear-gradient(to right, var(--MainColor), var(--teritaryColor));
}

nav ul a:hover::before{
    width: 100%;
}

nav ul a:hover{
    opacity: 1;
}

.logo{
    font-size: 2em;
    color: mintcream;
    font-family: "Freckle Face", system-ui;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.4s ease-in-out;
}

.logo:hover{
    opacity: 1;
    transform: scale(1.03);
}

.btn{
    padding: 0.5em 1em;
    color: mintcream;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2em;
    font-size: 1.4em;
    font-family: "Freckle Face", system-ui;
    cursor: pointer;
    border: 2px solid var(--MainColor);
    background: var(--BG);
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--MainColor);
    color: var(--BG);
    transform: scale(1.05);
}

.visit-btn{
    padding: 0.5em 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2em;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
    text-justify: center;
    background: linear-gradient(to right, var(--MainColor), var(--teritaryColor));
    color: var(--BG);
    transition: 0.3s ease-in-out;
}

.visit-btn:hover{
    transform: scale(1.05);
}

span{
    background: linear-gradient(to right, var(--MainColor), var(--teritaryColor));
    background-clip: text;
    color: transparent;
}

#menu{
    color: mintcream;
    font-size: 3em;
    display: none;
}

canvas {
    display: flex;
    top: 0;
    left: 0;    
    align-self: center;
}

section{
    min-height: 100vh;
    padding: 5% 15%;
}

#home{
    padding: 0% 0%;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: mintcream;
}

.pfp{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 700px;
}
.info-box span{
    font-family: "Freckle Face", system-ui;
}
.info-box h1{
    font-size: 5vw;
    font-weight: 500;
}
.info-box h3{
    font-size: 2vw;
    font-weight: 400;
}

.info-box p{
    opacity: 0.8;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.skill-box{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#about .skill-box img{
    width: 30vw;
    border-radius: 1em;
}
#about h2{
    margin-top: 3em;
    font-size: 3vw;
    font-weight: 500;
    font-family: "Freckle Face", system-ui;
    align-self: self-start;
    transition: 0.3s ease-in-out;    
}
#about h2:hover{
    transform: scale(1.05);
    text-shadow: var(--MainColor);
}

.skills{
    white-space:pre-line;
    display: flex;
    text-align: left;
    gap: 10em;
}
.skills ul{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: mintcream;
    opacity: 0.8;
    align-items: baseline;
}
.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3em;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.skills ul li span:hover{
    opacity: 1;
    transform: scale(1.05);
    opacity: 1;
}
.skills ul li i{
    font-size: 1.3em;
}

.header{
    text-align: center;
    font-family: "Freckle Face", system-ui;
    font-size: 5em;
    margin: 0.5em 0;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.work-box{
    border: 3px solid var(--SBG);
    border-radius: 0.5em;
    background-color: rgb(18, 15, 23);
    background-image: var(--IMAGEwiggles);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: mintcream;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.work-box:hover{
    border-color: var(--MainColor);
    padding: 3.5em;
    background-color: var(--SBG);
    color: var(--BG);
}
.work-box:hover span{
    background: var(--BG);
    background-clip: text;
    color: transparent;
}
.work-box p{
    opacity: 0.8;
}
.work-box h1{
    font-size: 2em;
    font-family: "Freckle Face", system-ui;
}
.work-box img{
    min-width: 25px;
    border-radius: 0.5em;
}
.work-box .btn{
    text-align: center;
    align-self: center;
    font-size: 1.2em;
}

#art{

    text-align: center;
    display: flex;
    flex-direction: column;
}

#art h1 {
    font-size: 5em;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 0.8em;
    margin-top: 3em;
    grid-auto-flow: dense;
    justify-content: space-between;

}
.galleryImage{
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 0px solid var(--SBG);
    border-radius: 1em;
    transition: 0.3s ease-in-out;

}
.galleryImage:hover{
    transform: scale(1.03);
    border-width: 0.15em;
}

#art .PopUpContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(13, 13, 12, 0.806);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0.5em 0;
    backdrop-filter: blur(8px);
    display: none;
}
#selectedImage{
    max-height: 100%;
    max-width: 100%;
}

#art .PopUpContainer.active{
    display: flex;
}

#art .load-btn{
    margin-top: 2em;
    align-self: center;
    justify-self: center;
    padding: 0.5em 1em;
    color: mintcream;
    font-family: "Freckle Face", system-ui;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2em;
    font-size: 1.2em;
    cursor: pointer;
    border: 2px solid var(--teritaryColor);
    background: var(--BG);
    transition: 0.3s ease-in-out;
}
#art .load-btn:hover{
    background-color: var(--teritaryColor);
    color: var(--BG);
    transform: scale(1.05);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
}
form .input-box{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}
form span{
    font-size: 1.5em;
}
form .input-field{
    font-family: "Kalam", system-ui;
    font-size: 1.3em;
    padding: 1em 5em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}
form .input-field:focus{
    background-color: antiquewhite;
}
form .message-box{
   padding: 1em 5em;
}

#contact .btn{
    font-size: 1.5em;
}

#contact .response{
    background-color: rgba(13, 13, 12, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#contact .response.active{
    display: flex;
}

#contact .response .response-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);  
    padding: 2em 3em;
    border-radius: 1em;
    background-color: rgb(19, 17, 23);
    background-image: var(--IMAGEoverlapCircles);
    color: mintcream;

}


#contact .response-box h1 {
    font-size: 5em;
    text-align: center;
}

#contact .response-box h3{
    font-size: 2em;
    opacity: 0.7;
}

#contact .response-box i{
    font-size: 10em;
    opacity: 1;
}

#contact .response-box p{
    font-size: 1em;
    color: crimson;
}

#fail-response span{
    background: linear-gradient(to right, crimson, darkred);
    background-clip: text;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: #0f0f0e;
    width: 100%;
    padding: 5em 15%;
    background-image: var(--IMAGEbubbles);
    
}

.col-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-box{
    display: flex;
    align-items: center;
    gap: 1em;
}
.col-box i{
    font-size: 2em;
}
.col-box span{
    font-size: 1.5em;
}

.col-right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    color: mintcream;
}
.col-right span{
    font-size: 1.5em;
}

.col-right .social-icons{
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 2em;
}
.col-right .social-icons span{
    font-size: 3em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.social-icons span:hover{
    color: mintcream;
    transform: scale(1.5);
}

footer p{
    color: #0f0f0e;
    font-size: 0.1em;
}




@media(max-width: 1168px){
    section{
        padding: 8em 15%;
    }

    nav .btn{
        display: none;
    }
    nav {
        gap: 2em;
    }

    #menu{
            display: block;
    }
        
    .links{
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            padding: 1em 3em;
            color: mintcream;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #0d0d0cdd;
            display: none;
            gap: 0em;
        }
    .links a{
            margin: 1em;
            display: block;
            font-size: 1.2em;
            color: mintcream;
        }
    .links.active{
            display: flex;  
    }

    nav ul a::before{
        top: 35spx;
    }

    #about h1{
            font-size: 4em;
    }
    #about h3{
            font-size: 2em;
    }
    #about img{
            width: 24vw;
    }

    #about .skill-box{
            flex-direction: column;
    }

    #about .skill-box .skills span {
        opacity: 1;
    }

    #about .skill-box img{
            width: 32vw;
    }
    #about h2{
            font-size: 2em;
    }
    #about .skill-box ul{
            font-size: 1em;
    }

    #gallery{
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    }

    #contact .response-box h1{
        font-size: 3em;
    }
    #contact .response-box h3{
        font-size: 1.5em;
    }


}

@media(max-width:768px){
    #about h1{
            font-size: 2.5em;
    }
    #about h3{
            font-size: 1.5em;
    }
    #about img{
            width: 32vw;
    }
    #about h2{
            font-size: 2em;
    }

    #about .skill-box{
        gap: 3em;
    }
    #about .skill-box img{
            width: 50vw;
    }
    #work .header{
        font-size: 3em;
    }
    #contact .header{
        font-size: 3em;
    }
    #contact .input-box span{
        font-size: 1.2em;
    }
    
    #contact .message-box{
        padding: 1em 1em;
    }
    
    .input-box input{
        padding: 0.5em 1em;

    }

    footer{
        flex-direction: column;
        gap: 5em;
        align-items: baseline;
    }

    #gallery{
        grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    }
}